<template>
    <section class="container" ref="section">
        <div class="rich-list">
            <div class="container-title">
                Transaction List
            </div>
            <Pagination v-if="pages > 1" :pages="pages" :currentPage="currentPage" :getLink="getLink" />
        </div>

        <table class="table is-fullwidth is-bordered is-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                    <th>Value</th>
                    <th>Fee</th>
                    <th>Type</th>
                    <th>Confirmation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({ id, timestamp, outputs, confirmations, fees, isCoinbase, isCoinstake }, index) of list">
                    <td>
                        <TransactionListLink :transaction="id" />
                    </td>
                    <td><FromNow :timestamp="timestamp" /> ({{ timestamp | timestamp('time') }})</td>
                    <td class="monospace break-word">{{ outputs[0].value | qtum(8) }} QTUM</td>
                    <td class="monospace break-word">{{ fees | qtum(8) }} QTUM</td>
                    <td>
                        {{ isCoinstake ? 'Coinstake' : '' }} {{ isCoinbase ? 'coinbase' : '' }}
                        {{ !isCoinstake && !isCoinstake ? 'QTUM Transfer' : '' }}
                    </td>
                    <td>
                        {{ confirmations }}
                    </td>
                </tr>
            </tbody>
        </table>
        <Pagination v-if="pages > 1" :pages="pages" :currentPage="currentPage" :getLink="getLink" />
    </section>
</template>

<script>
import Transaction from '@/models/transaction';
import { RequestError } from '@/services/qtuminfo-api';
import { scrollIntoView } from '@/utils/dom';

export default {
    head() {
        return {
            title: this.$t('misc.rich_list_title'),
        };
    },
    data() {
        return {
            totalCount: 0,
            list: [],
            currentPage: Number(this.$route.query.page || 1),
        };
    },
    async asyncData({ req, query, redirect, error }) {
        try {
            if (query.page && !/^[1-9]\d*$/.test(query.page)) {
                redirect('/tx');
            }
            let page = Number(query.page || 1);
            let { totalCount, transactions: list } = await Transaction.getTransactionsList(
                { from: (page - 1) * 100, to: page * 100 },
                { ip: req && req.ip },
            );
            if (page > 1 && totalCount <= (page - 1) * 100) {
                redirect('/tx', { page: Math.ceil(totalCount / 100) });
            }
            return { totalCount, list };
        } catch (err) {
            if (err instanceof RequestError) {
                error({ statusCode: err.code, message: err.message });
            } else {
                error({ statusCode: 500, message: err.message });
            }
        }
    },
    computed: {
        blockchain() {
            return this.$store.state.blockchain;
        },
        totalSupply() {
            let height = this.blockchain.height;
            if (height <= 5000) {
                return height * 20000;
            }
            let supply = 1e16;
            let reward = 4e8;
            let interval = 985500;
            height -= 5000;
            let halvings = 0;
            while (halvings < 7 && height > interval) {
                supply += interval * (reward >>> halvings++);
                height -= interval;
            }
            return supply + height * (reward >>> halvings);
        },
        pages() {
            return Math.ceil(this.totalCount / 100);
        },
    },
    methods: {
        getLink(page) {
            return { name: 'tx', query: { page } };
        },
    },
    async beforeRouteUpdate(to, from, next) {
        let page = Number(to.query.page || 1);
        let { totalCount, transactions: list } = await Transaction.getTransactionsList({
            from: (page - 1) * 100,
            to: page * 100,
        });
        this.totalCount = totalCount;
        if (page > this.pages && this.pages > 1) {
            this.$router.push({ name: 'tx', query: { page: Math.ceil(totalCount / 100) } });
            return;
        }
        this.list = list;
        this.currentPage = page;
        next();
        scrollIntoView(this.$refs.section);
    },
};
</script>

<style lang="less" scoped>
@import '../../styles/variables.less';
.rich-list {
    display: flex;
    justify-content: space-between;
    .container-title {
        margin: auto 0;
        color: @qtumColorContainerHeader;
        font-weight: bold;
    }
}

.table {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
</style>
