<template>
    <footer class="footer-wrapper">
        <div class="footer-container">
            <div class="footer-main">
                <div class="footer-info">
                    <div class="footer-title">
                        <img :src="require(`../icons/svg/logo.svg`)" />
                        <p>
                            Talan
                            <span>A Greate Website</span>
                        </p>
                    </div>

                    <span
                        >Talan.ORG is the official blockchain explorer of Talan, providing blocks, addresses,
                        transactions, contracts and staking queries and statistics service.</span
                    >
                </div>
                <div class="footer-dispose">
                    <div class="footer-cancat">
                        <Icon icon="envelope" tag="a" />
                        <span class="dispose-title">Email: </span>
                        <a href="mailto:INFO@Talan.ORG" class="email"> INFO@Talan.ORG</a>
                    </div>
                </div>
            </div>
            <!-- <div  class="footer-split"></div>
            <p  class="copyright">2020 - 2021 Talan CHAIN FOUNDATION ©️ All rights Reserved</p> -->
        </div>
    </footer>
</template>

<style lang="less" scoped>
@import '../styles/variables.less';
footer {
    background-color: @qtumBackgroundColorFooter;
    text-align: center;
    color: white;
    padding: 6rem;
    .footer-main {
        display: flex;
        justify-content: space-between;
        @media (max-width: 769px) {
            flex-direction: column;
        }
        .footer-title {
            display: flex;
            padding-block: 10px;
            p {
                display: flex;
                flex-direction: column;
                padding-left: 10px;
            }
            span {
                font-size: 10px;
            }
        }
        .footer-info {
            text-align: left;
            max-width: 400px;
        }
        .footer-dispose {
            @media (max-width: 769px) {
                padding-top: 5rem;
            }
        }
    }
}
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
}
.line {
    width: 2rem;
    height: 1px;
    margin: 0.5rem auto;
    background-color: white;
}
.links {
    display: flex;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(242, 242, 242, 0.2);
    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 2rem;
        margin-bottom: 2rem;
        > li {
            flex: 50%;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
    @media (min-width: 769px) {
        justify-content: space-between;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
span.fab,
span.fas,
span.qtum-icon {
    font-size: 2em;
    vertical-align: middle;
}
</style>
