<template>
    <nav class="navbar">
        <div class="navbar-brand is-size-4">
            <nuxt-link to="/" class="navbar-item navbar-logo">
                 <img :src="require(`../icons/svg/logo.svg`)" /> Talan
            </nuxt-link>
            <button type="button" class="button navbar-burger" @click="showMenu = !showMenu">
                <span></span><span></span><span></span>
            </button>
        </div>
        <div class="navbar-menu" :class="{ 'is-active': showMenu }">
            <div class="navbar-start ">
                <AttributeInjector class="navbar-item" @click.native="showMenu = !showMenu">
                    <div class="has-dropdown is-hoverable">
                        <nuxt-link to="/block" class="navbar-link">{{ $tc('blockchain.blockchain') }}</nuxt-link>
                        <div class="navbar-dropdown is-boxed">
                            <nuxt-link to="/block" class="navbar-item">{{ $tc('blockchain.block', 2) }}</nuxt-link>
                            <nuxt-link to="/tx" class="navbar-item">
                                {{ $tc('blockchain.transaction', 2) }}
                            </nuxt-link>
                            <nuxt-link to="/misc/rich-list" class="navbar-item">
                                {{ $t('misc.rich_list_title') }}
                            </nuxt-link>
                        </div>
                    </div>
                    <div class="has-dropdown is-hoverable">
                        <nuxt-link to="/contract/tokens" class="navbar-link">{{
                            $tc('blockchain.token', 2)
                        }}</nuxt-link>
                        <div class="navbar-dropdown is-boxed">
                            <nuxt-link to="/contract/tokens" class="navbar-item">{{
                                $tc('contract.token.overview')
                            }}</nuxt-link>
                            <!-- <nuxt-link to="/block" class="navbar-item">{{ $tc('blockchain.block', 2) }}</nuxt-link> -->
                        </div>
                    </div>

                    <div class="has-dropdown is-hoverable">
                        <nuxt-link to="/misc/charts" class="navbar-link">{{ $t('blockchain.resources') }}</nuxt-link>
                        <div class="navbar-dropdown is-boxed">
                            <nuxt-link to="/misc/charts" class="navbar-item">
                                {{ $t('misc.charts_title') }}
                            </nuxt-link>
                            <nuxt-link to="/misc/biggest-miners" class="navbar-item">
                                {{ $t('misc.biggest_miners_title') }}
                            </nuxt-link>
                            <nuxt-link to="/misc/stake-calculator" class="navbar-item">
                                {{ $t('blockchain.tools') }}
                            </nuxt-link>
                        </div>
                    </div>
                </AttributeInjector>
            </div>
            <form class="navbar-end" @submit.prevent="search">
                <div class="navbar-item input-item">
                    <input type="text" class="input" v-model="searchString" :placeholder="$t('nav.search')" />
                    <Icon icon="search" />
                </div>
            </form>
        </div>
    </nav>
</template>

<script>
import { get as qtuminfoGet } from '@/services/qtuminfo-api';

export default {
    data() {
        return {
            showMenu: false,
            searchString: '',
            searching: false,
        };
    },
    methods: {
        async search() {
            let searchString = this.searchString.trim();
            if (!searchString || this.searching) {
                return;
            }
            this.searching = true;
            try {
                let { type, id, address } = await qtuminfoGet(`/search`, { params: { query: searchString } });
                switch (type) {
                    case 'address':
                        this.searchString = '';
                        this.$router.push(`/address/${searchString}`);
                        break;
                    case 'block':
                        this.searchString = '';
                        this.$router.push(`/block/${searchString}`);
                        break;
                    case 'contract':
                    case 'qrc20':
                    case 'qrc721':
                        this.searchString = '';
                        if (address) {
                            this.$router.push(`/contract/${address}`);
                        } else {
                            this.$router.push(`/contract/${searchString}`);
                        }
                        break;
                    case 'transaction':
                        this.searchString = '';
                        this.$router.push(`/tx/${searchString}`);
                        break;
                }
            } catch (err) {}
            this.showMenu = false;
            this.searching = false;
        },
    },
};
</script>

<style lang="less" scoped>
@import '../styles/variables.less';
.navbar {
    background-color: @qtum-backgroundNav;
    color: @qtum-colorNav;
    .navbar-link {
        background-color: @qtum-backgroundNav;
        &:hover {
            color: @qtum;
        }
    }
    .navbar-link:not(.is-arrowless)::after {
        border-color: #4a4a4a;
    }
    .navbar-dropdown {
        background-color: @qtum-backgroundNav;
        a.navbar-item:hover {
            background-color: @qtum-backgroundNav;
            color: @qtum;
        }
    }
    .navbar-menu {
        padding: 0;
    }
    .navbar-item.has-dropdown:hover .navbar-link {
        background-color: @qtum-backgroundNav;
        a {
            color: @qtum;
        }
    }
}
a.navbar-item:hover {
    color: @qtum;
}
.navbar-logo {
    display: inline-block;
    .qtum-icon {
        vertical-align: middle;
    }
}
.navbar-end {
    flex: auto;
    align-items: center;
    max-width: 500px;
    background-color: @qtum-backgroundNav;
    .navbar-item {
        flex: auto;
        position: relative;
        input {
            padding-right: 3em;
        }
        span {
            position: absolute;
            right: 20px;
            top: 18px;
        }
    }
}
</style>
