<template>
    <nav class="pagination is-centered" :class="responsive.isTablet ? '' : 'is-small'">
        <ul class="pagination-list">
            <li>
                <nuxt-link :to="getLink(currentPage - 1)" class="pagination-link">Prev</nuxt-link>
            </li>
            <li>
                <form class="pagination-form" @submit.prevent="submit">
                    <div class="control">
                        <input
                            type="text"
                            class="input has-text-centered"
                            :class="{ 'is-small': !responsive.isTablet }"
                            v-model="inputValue"
                            ref="input"
                        />
                    </div>
                </form>
            </li>
            <li>
                <nuxt-link :to="getLink(currentPage + 1)" class="pagination-link">
                    Next
                </nuxt-link>
            </li>
        </ul>
    </nav>
</template>

<script>
import { Responsive } from '@/plugins/mixins';

export default {
    mixins: [Responsive],
    data() {
        return {
            inputValue: '',
        };
    },
    props: {
        pages: { type: Number, required: true },
        currentPage: { type: Number, required: true },
        getLink: { type: Function, required: true },
    },
    mounted() {
        this.inputValue = this.currentPage;
    },
    methods: {
        submit() {
            let input = this.inputValue.trim();
            if (/^[1-9]\d*$/.test(input)) {
                let page = Number.parseInt(input);
                if (page <= this.pages && page !== this.currentPage) {
                    this.$router.push(this.getLink(page));
                }
            }
        },
    },
    watch: {
        currentPage() {
            this.inputValue = this.currentPage;
            this.$refs.input.blur();
        },
    },
};
</script>

<style lang="less" scoped>
@import '../styles/variables.less';
.pagination-form {
    .label {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 0.5em;
        @media (min-width: 769px) {
            line-height: 2;
        }
    }
    .control {
        display: inline-block;
        width: 3.5em;
        vertical-align: middle;
        @media (max-width: 768px) {
            width: 3em;
        }
    }
}
.pagination-list {
    justify-content: flex-end !important;
    padding: 0 10px;
    li a {
        border: 0;
        background-color: @qtumBackgroundColorButton;
        color: @qtum;
    }
}
</style>
