@import 'variables.less';
.card-header-button {
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.card.section-card {
    margin: 1em 0.75em;

    &:first-child {
        margin-top: 0.5em;
    }
}
.card {
    background-color: @qtum-backgroundCard;
    border-radius: 5px;
    .card-header {
        background-color: @qtumBackgroundColorCardHeader;
        .card-header-icon{
            .fas {
                color: @qtum;
            }
        }
        
        .card-header-title {
            color: @qtumColorCardHeader;
        }
    }
    .card-body {
        color: @qtumcolorCard;
    }
}
