@import 'variables.less';

.break-word {
    word-break: break-all;
}

.monospace {
    font-family: monospace;
}

.button.is-qtum {
    border-color: transparent;
    background-color: @qtumBackgroundColorButton;
    color: @qtum;

    &:hover,
    .is-hovered {
        background-color: darken(@qtumBackgroundColorButton, 30%);
        color: @qtum;
    }

    &:focus,
    .is-focused {
        outline: none;
        color: white;
        &:not(:active) {
            box-shadow: 0 0 0 0.125rem fade(@qtum, 25%);
        }
    }

    &:active,
    .is-actived {
        outline: none;
        background-color: darken(@qtum, 5%);
        color: white;
    }

    &.is-outlined {
        // border-color: @qtum;
        background-color: @qtumBackgroundColorButton;
        color: @qtum;
        &:hover,
        .is-hovered {
            border-color: @qtum;
            background-color: @qtum;
            color: white;
        }
    }

    &.is-inverted {
        background-color: white;
        color: @qtum;
        &:hover,
        .is-hovered {
            background-color: #f2f2f2;
            color: white;
        }
    }

    &.is-outlined.is-inverted {
        border-color: white;
        background-color: transparent;
        color: white;
        &:hover {
            background-color: white;
            color: @qtum;
        }
    }

    &[disabled] {
        border-color: transparent;
        background-color: @qtum;
        box-shadow: none;
    }
}

.input,.textarea {
    color: @qtumColorInput;
    background-color: @qtumBackgroundColorInput;
    border: 0;
    &::-webkit-input-placeholder {
        color: @qtumColorInput;
    }
}

.tabs {
    
    ul {
        border: 0;
        justify-content: start !important;
        li {
            display: block;
            background-color: @qtumBackgroundColorTab;
            color: white;
            margin: 0 5px;
            border-radius: 5px;
            a:hover {
                color: white;
            }
            a{
                color: white;
            }
            &.is-active {
                background-color: @qtum;
                color: white;
                a {
                    color: white;
                }
            }
        }
    }
}
a:hover{
    color: @qtum;
}
a {
    color: @qtum;
}
.navbar-item img{
    width: 35px;
}