@import 'variables.less';
.info-table {
  .columns:first-child {
    margin-top: 0.25em;
  }
  .columns:last-child {
    margin-bottom: 0.25em;
  }
  .column {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  .info-title {
    font-weight: bold;
  }
  .info-value {
    word-break: break-all;
  }
  @media (min-width: 1024px) {
    .info-title {
      flex: none;
      width: 25%;
      padding-left: 1.5em;
    }
  }
  @media (max-width: 1023px) {
    .info-title, .info-value {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }
  .arrow{
    height: 33px;
    width: 33px;
    border-radius: 5px;
    background-color: @qtum;
    color:white;
  }
}
.table{
      background-color:transparent;
      *{
        // font-weight: bold;
        color:white;
      }
      thead {
          tr {
              th{
                color: @qtumColorTable;
              }
          }
      }
      td , th{
          border: 0;
          background-color:transparent;
      }
      tr{
        border-bottom: 1px solid @qtumBordercolorTable;
        background-color:@qtum-backgroundCard !important;
        line-height: 50px;
      }
}

