@qtum: #F1A132;
@qtum-background: #19202E;
@qtum-backgroundNav: #11151E;
@qtum-colorNav: white;
@qtum-backgroundCard:#292F3C;


@qtumBordercolorTable:#4e4d4d;
@qtumColorTable:#FFFFFF;

@qtumcolorCard:#61666F;

@qtumColorCardHeader:#FFFFFF;
@qtumBackgroundColorCardHeader:#19202E;


@qtumColorContainerHeader:#FFFFFF;


@qtumColorInput:#61666F;
@qtumBackgroundColorInput:#323846;


@qtumBackgroundColorButton:#f1a13257;

@qtumColorScriptValue:#FFFFFF;

@qtumBackgroundColorTab:#292F3C;

@qtumBackgroundColorFooter:#292F3C;

